<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jessyan.armscomponent.commonres">

    <application>
        <activity android:name=".ui.WebviewActivity" />
        <activity
            android:name=".dialog.AppSettingsDialogHolderActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/public_TransparentTheme" />
        <activity
            android:name=".ui.RecorderVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.ShowImagesActivity" />
    </application>

</manifest>